<div id="container">
  <div>{{ user }}</div>
  <div>
    <img src="/assets/angular.png" width="50" />
  </div>
  <h1>Flights</h1>
  <div>
    <input type="text" placeholder="From" />
  </div>
  <div>
    <input type="text" placeholder="To" />
  </div>
  <div>
    <button (click)="search()">Search</button>
    <button (click)="terms()">Terms...</button>
  </div>
  <div>
    <ng-container #vc></ng-container>
  </div>
</div>

<h2>Predefined Routes</h2>
<a routerLink="lazy">I AM LAZY</a>

<h2>Dynamic Routes</h2>
<div *ngFor="let mfe of microfrontends">
  <a [routerLink]="mfe.routePath">{{ mfe.displayName }}</a>
</div>

<router-outlet></router-outlet>
